<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>web3-registration</title>
</head>
<body>
<form action="/registration" method="POST">
    <table style=" width: 100%; border: 4px double black;">
        <tr>
            <td style="border: 1px solid black; text-align: center">
                <a href="/transaction">Transaction</a>
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center">
                Name: <input type="text" name="name">
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center">
                Password: <input type="password" name="password">
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center">
                Money: <input type="text" name="money">
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center">
                <input type="submit" value="Register">
            </td>
        </tr>


    </table>
</form>

</body>
</html>

